//Variables
$body-bg: #E7DFDD;
$player-bg: #ffbb33;
$player-bg-2: #FF8800;

$default-radius:10px;
$default-padding: 10px;
$default-margin: 10px;

$text-color: #3C3C3C;
//Styling

body{
  background-color: $body-bg;
  color: $text-color;
}
h2{
  margin:0;
}
.container{
  display: flex;
  justify-content: center;
}
.music-player{
  background-color: $player-bg;
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 200px;
  border-radius: $default-radius;
}

.player-top{
  background-color: $player-bg-2;
  display: flex;
  justify-content: flex-start;
  padding: $default-padding;
  margin: $default-margin;
  border-radius: $default-radius;
}
.img-and-input{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  align-items: center;
}


#song-info{
  display: flex;
  flex-direction: column;
}
#song-image{
  width: 150px;
  height: 150px;
  margin: $default-margin;
}

.player-timer{
  margin: $default-margin;
  padding: 5px;
  background-color: $player-bg-2;
  border-radius: $default-radius;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
#progressbar{
  width: 100%;
  height: 7px;
  margin-right: 5px;
  background-color: $text-color;
}
#progressdot{
  width: 5px;
  height: 7px;
  background-color: $body-bg;
}
.buttons{
  display: flex;
  justify-content: center;
}
.button{
  background: $player-bg-2;
  border-radius: 10px;
  cursor: pointer;
  margin: $default-margin;
  padding: 6px;
}
.forward{
  transform: scaleX(-1);
}
.play{
  padding: 12px;
}
.previous{
  transform: scaleX(-1);
}

#song-list{
  display: flex;
  flex-direction: column;
  background: $player-bg-2;
  margin: $default-margin;
  padding: $default-padding;
}
#song-list p{
  display: flex;
  justify-content: space-between;
  border-bottom: dotted;
}
#song-list .active{
  color: #ffbb33;
  border-color: #ffbb33;
}
// -------------------------------------
@media (max-width: 500px){
  .music-player{
    height: auto;
    width: auto;
  }
  .player-top{
    flex-direction: column;
  }
  #song-info{
      display: flex;
      flex-direction: column;
      margin: $default-margin;
    }
    .player-timer{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}
