body {
  background-color: #E7DFDD;
  color: #3C3C3C; }

h2 {
  margin: 0; }

.container {
  display: flex;
  justify-content: center; }

.music-player {
  background-color: #ffbb33;
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 200px;
  border-radius: 10px; }

.player-top {
  background-color: #FF8800;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin: 10px;
  border-radius: 10px; }

.img-and-input {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  align-items: center; }

#song-info {
  display: flex;
  flex-direction: column; }

#song-image {
  width: 150px;
  height: 150px;
  margin: 10px; }

.player-timer {
  margin: 10px;
  padding: 5px;
  background-color: #FF8800;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline; }

#progressbar {
  width: 100%;
  height: 7px;
  margin-right: 5px;
  background-color: #3C3C3C; }

#progressdot {
  width: 5px;
  height: 7px;
  background-color: #E7DFDD; }

.buttons {
  display: flex;
  justify-content: center; }

.button {
  background: #FF8800;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  padding: 6px; }

.forward {
  transform: scaleX(-1); }

.play {
  padding: 12px; }

.previous {
  transform: scaleX(-1); }

#song-list {
  display: flex;
  flex-direction: column;
  background: #FF8800;
  margin: 10px;
  padding: 10px; }

#song-list p {
  display: flex;
  justify-content: space-between;
  border-bottom: dotted; }

#song-list .active {
  color: #ffbb33;
  border-color: #ffbb33; }

@media (max-width: 500px) {
  .music-player {
    height: auto;
    width: auto; }

  .player-top {
    flex-direction: column; }

  #song-info {
    display: flex;
    flex-direction: column;
    margin: 10px; }

  .player-timer {
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

/*# sourceMappingURL=index.css.map */
